xml_schema/fav.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Fav">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Palette"/>
        <xsd:element ref="Object"/>
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:string"/ use="optional">
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Palette" minOccurs="0">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Voxel_Info"/>
        <xsd:element ref="Geometry"/>
        <xsd:element ref="Material"/>
        <xsd:element ref="Set"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Voxel_Info" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Geometry_ID" type="xsd:nonNegativeInteger"/>
        <xsd:element name="Material_ID" type="xsd:nonNegativeInteger"/>
        <xsd:element name="Set_ID" maxOccurs="unbounded" type="xsd:nonNegativeInteger"/>
        </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Geometry" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Base_Shape" type="xsd:string"/>
        <xsd:element name="X_Length" type="xsd:nonNegativeInteger"/>
        <xsd:element name="Y_Length" type="xsd:nonNegativeInteger"/>
        <xsd:element name="Z_Length" type="xsd:nonNegativeInteger"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Material" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MatType" type="xsd:nonNegativeInteger"/>
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:element ref="Mechanical"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Mechanical">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MatModel" type="xsd:nonNegativeInteger"/>
        <xsd:element name="Elastic_Mod" type="xsd:double"/>
        <xsd:element name="Plastic_Mod" type="xsd:double"/>
        <xsd:element name="Yield_Stress" type="xsd:double"/>
        <xsd:element name="FailModel" type="xsd:double"/>
        <xsd:element name="FailModel" type="xsd:double"/>
        <xsd:element name="Fail_Strain" type="xsd:double"/>
        <xsd:element name="Density" type="xsd:double"/>
        <xsd:element name="Poissons_Ratio" type="xsd:double"/>
        <xsd:element name="CTE" type="xsd:double"/>
        <xsd:element name="MaterialTempPhase" type="xsd:double"/>
        <xsd:element name="uStatic" type="xsd:double"/>
        <xsd:element name="uDynamic" type="xsd:double"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Object" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element ref="Lattice" />
        <xsd:element ref="Structure" />
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Lattice">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="X_Origin" type="xsd:double" minOccurs="0"/>
        <xsd:element name="Y_Origin" type="xsd:double" minOccurs="0"/>
        <xsd:element name="Z_Origin" type="xsd:double" minOccurs="0"/>
        <xsd:element name="X_Voxels" type="xsd:nonNegativeInteger" />
        <xsd:element name="Y_Voxels" type="xsd:nonNegativeInteger" />
        <xsd:element name="Z_Voxels" type="xsd:nonNegativeInteger" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Structure">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Voxel_Map" />
        <xsd:element ref="Color_Map" />
        <xsd:element ref="Link_Map" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Voxel_Map">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Layer" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="Sample_Per_Voxel" type="xsd:nonNegativeInteger"/ use="required">
      <xsd:attribute name="Compression" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Color_Map" minOccurs="0">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Layer" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="Sample_Per_Voxel" type="xsd:nonNegativeInteger"/ use="required">
      <xsd:attribute name="Compression" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Link_Map" minOccurs="0">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Layer" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="Neighbours" type="xsd:string"/ use="required">
      <xsd:attribute name="Compression" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
